body {
	background-color: #ffffff;
	color: #66BFBF;
}

h4 {
	text-align: center;
}

#car-and-price-details {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-flow: row wrap;
}

#car-and-price-details img {
	width: 250px;
}

.car-details {
	margin-top: 20px;
	display: flex;
}

.car-details span, h5 {
	margin: 10px 5px;
}

.included-and-extras {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.included-and-extras div {
	margin: 0 20px;
}

#information-and-payment-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.customer-information-form, .payment-block {
	margin: 30px 10px;
/*	padding: 0 20px;*/
}

.customer-information-form div {
	margin: 5px 10px;
}

.customer-information-form h5, .payment-block h5 {
	text-align: center;
	margin-top: 0;
}

.customer-information-form span:last-child {
	color: red;
}

.input-border-radius {
	font-size: 16px;
	border-radius: 4px;
}

.form-row {
	display: flex;
	justify-content: center;
	flex-direction: ;
	flex-wrap: wrap;
}

.requirements {
	text-align: center;
}

.requirements textarea {
	width: 95%;
	font-size: 14px;
	border-radius: 4px;
}

.payment-block h5 {
	text-align: center;
}

@media all and (max-width: 600px) {
	.customer-information-form {

	}
	.included-and-extras div {
		margin: 10px 20px;
	}
	.car-details  {
		font-size: 12px;
	}
}

.payment {
	text-align: center;
	display: flex;
	justify-content: center;
}

.payment input {
	margin-right: 30px;
}

.button2 {
	background: #11cdd4;
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  	font-family: 'Montserrat', sans-serif;
  	font-size: 15px;
  	color: #ffffff;
  	text-decoration: none;
	cursor: pointer;
  	padding: 10px 20px;
  	border: none;
	border-radius: 8px;
}

.button2:hover {
  	background: #30e3cb;
  	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  	text-decoration: none;
}

.confirm-and-submit {
	border: 1px solid black;
	text-align: center;
	display: flex;
}

