.car-rental-period {
	color: #11999E;
	background-color: #EAF6F6;
	font-size: 13px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.car-rental-period div {
	margin: 0 20px;
}

.car-rental-period h5 {
	text-align: center;
	font-size: 14px;
}

.car-rental-period h6 {
	text-align: center;
	cursor: pointer;
	font-size: 10px;
	text-decoration: none;
}

.car-rental-period a:any-link {
	color: #11999E;
}

.display-cookies {
	display: flex;
}

.display-cookies span {
	margin: 0 5px;
}

.car-offer-bar {
	color: #11999E;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.car-offer-bar img {
	width: 250px;
	height: 185px;
}

#white-background {
	background-color: #ffffff;
}

.car-offer-bar h4 {
	text-align: left;
	margin-top: 5px;
}

.car-offer-bar > div {
	margin: 10px 5px 0 5px;
}

.about-car div, .about-price span {
	margin: 20px 5px 0 5px;
}

.about-car, .about-price {
	display: flex;
	margin: 0;
	align-items: center;
}

.about-price span {
	margin: 10px 5px;
	align-items: center;
	vertical-align: bottom;
}

.about-price button {
	margin: 0;
}

@media all and (max-width: 800px) {
	.car-offer-bar {
		flex-flow: row wrap;
	}
}

@media all and (max-width: 600px) {
	.header-flex {
		display: none;
	}
	.header-flex-2, .nav-bar {
		justify-content: center;
		font-size: 12px;
	}
	.car-offer-bar {
		flex-flow: row wrap;
		height: auto;
	}
	.car-offer-bar button {
		font-size: 12px;
	}
	.car-rental-period {
		text-align: center;
		font-size: 60%;
		flex-flow: column wrap;
		margin: 0 auto;
	}
	.car-rental-period div {
		justify-content: center;
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 50px auto;
	padding: 10px;
	border: 1px solid #888;
	width: 80%;
}

.modal-content h4 {
	text-align: center;
}

.modal-content h5 {
	margin-left: 5px;
}

.close, .close2, .close3, .close4, .close5, .close6 {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close, .close2, .close3, .close4, .close5, .close6:hover, .close, .close2, .close3, .close4, .close5, .close6:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#selection-details {
	display: flex;
	justify-content: center;
	flex-direction: row wrap;
	flex-flow: row wrap;
}

#selection-details img {
	width: 250px;
}

.car-and-choice-details {
	display: flex;
}

#order-details {
	display: flex;
	flex-direction: row wrap;
	justify-content: center;
}

#order-details div {
	justify-content: center;
}

.included-and-extras {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.included-and-extras div {
	margin: 10px auto;
}

.sum-details {
	display: flex;
	flex-direction: row wrap;
	justify-content: center;
	margin: 250px 20px 0 100px;
}

.button-continue {
	margin-top: 260px;
}

@media all and (max-width: 1000px) {
	#selection-details img {
		width: 170px;
		height: 120px;
	}
	#selection-details h5 {
		margin-top: 0;
		margin-left: 0;
	}
	#selection-details span {
		margin: 0;
	}
	.car-details {
		font-size: 12px;
		justify-content: center;
		margin: 10px auto;
	}
	#order-details {
		font-size: 14px;
		flex-flow: column;
		justify-content: center;
		margin: 10px auto;
	}
	.included-and-extras div {
		margin: 10px auto;
	}
	.included div, .extras div {
		text-align: center;
		margin: 0;
	}
	.button-continue, .sum-details {
		margin-top: 10px;
	}
	.sum-details {
		justify-content: center;
		margin: 10px auto;
		padding-top: 10px;
	}
	.button-continue {
		width: 60%;
		margin: 5px auto;
	}
}


