.car-rental-period {
	color: #11999E;
	background-color: #EAF6F6;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.car-rental-period div {
	margin: 0 20px;
}

.car-rental-period h5 {
	text-align: center;
	font-size: 14px;
}

.car-rental-period h6 {
	text-align: center;
	cursor: pointer;
	font-size: 10px;
	text-decoration: none;
}

.car-rental-period a:any-link {
	color: #11999E;
}

.display-inline {
	display: flex;
}

.display-inline span {
	margin: 0 5px;
}

.car-offer-bar {
	color: #11999E;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.car-offer-bar img {
	width: 250px;
}

#white-background {
	background-color: #ffffff;
}

.car-offer-bar h4 {
	text-align: left;
	margin-top: 5px;
}

.car-offer-bar div {
	margin: 10px 5px 0 5px;
}

.about-car, .about-price {
	display: flex;
	margin: 0;
	align-items: center;
}

.about-price span {
	margin: 10px 5px;
	align-items: center;
	vertical-align: bottom;
}

.about-price button {
	margin: 0;
}

#continue-with-pay-now {
	cursor: pointer;
}

@media all and (max-width: 800px) {
	.car-offer-bar {
		flex-flow: row wrap;
	}
}

@media all and (max-width: 600px) {
	.header-flex {
		display: none;
	}
	.header-flex-2, .nav-bar {
		justify-content: center;
		font-size: 12px;
	}
	.car-offer-bar {
		flex-flow: row wrap;
		height: auto;
	}
	.car-offer-bar button {
		font-size: 12px;
	}
	.car-rental-period {
		text-align: center;
		font-size: 60%;
		flex-flow: column wrap;
		margin: 0 auto;
	}
	.car-rental-period div {
		justify-content: center;
	}
}


